@font-face {
    font-family: 'Source sans pro';
    src: url('./assets/SourceSansPro-Black.woff') format('woff2')
}

/* Example of using the font */
body {
    font-family: 'Source sans pro', sans-serif;
    overflow-x: hidden !important;
}
